{% extends "base.admin.html.twig" %}
{% block title %}{{ parent() }} - Article {{ post.Titre }} {% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Détails de l'article</h1>
        <div class="row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item active">{{ post.Titre }}</li>
                    <li class="list-group-item">Ecrit par : {{ post.Auteur }}</li>
                    <li class="list-group-item">Ecrit le : {{ post.DateAjout|date("d/m/Y") }}</li>
                    <li class="list-group-item">{{ post.Description|nl2br }}</li>
                </ul>
            </div>
            <div class="col-6">
                {% if file_exist( './uploads/images/'~post.getImageRepository~'/'~post.getImageFileName ) and post.getImageFileName !="" %}
                    <img src="/uploads/images/{{ post.getImageRepository }}/{{ post.getImageFileName }}" class="img-thumbnail"/>
                {% else %}
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b8dc97f7f%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b8dc97f7f%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}